<div class="list-group">
    <a class="list-group-item active">
        {{ title }}
    </a>
    {% for item in scrapedlist %}
    <a class="list-group-item">{{ forloop.counter }}. {{item}}</a>
    {% endfor %}
</div>
<span class="label label-success">Scrappable<span>