{% include "common/header.html" %}
        <div class="container container-main">

            <form method="POST" action="/addNewScrapper">{% csrf_token %}
                <h3 class="demo-panel-title">Define a Scrapper</h3>
                <div class="well well-sm">Url : <a href="{{url}}" target="blank">{{url}}</a></div>
                <input type="hidden" readonly="" value="{{url}}" id="mainurl">
                <input type="hidden" readonly="" value="{{scrapperID}}" id="scrapid">
                <h4>Step 2 : Number of Columns</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label  class="col-lg-3 control-label">Number of Columns</label>
                            <div class="col-lg-9">
                                <div id="ColNoSlider"></div>
                                <span id="ColNoSliderbdg" class="badge">2</span> Columns
                                <input id="ColNoSliderinp" name="noofcols" type="hidden" value="2">
                                <div class="alert alert-dismissable alert-info">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Heads up!</strong> This is the number of types of data to be scrapped, there will be one column for each data type.<br>
                                    If you want to scrap `Title` and `Price` from a product catalog, then there will be 2 columns.
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <h4>Step 3 : About each Column</h4>

                <div class="row demo-row">
                    <div class="col-md-10 col-md-offset-1 columndef" column="1">
                        <h6>Column 1 (Title)</h6>
                        <!--<form class="form-horizontal" role="form">-->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Column Name</label>
                            <div class="col-lg-9">
                                <input name="Title" type="text" class="form-control" placeholder="eg : Title, Apartment Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-lg-3 control-label">Sample Data 1</label>
                            <div class="col-lg-9">
                                <input name="sampledata1" type="text" class="form-control" placeholder="sample text, Should be unique">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-lg-3 control-label">Sample Data 2</label>
                            <div class="col-lg-9">
                                <input name="sampledata2" type="text" class="form-control" placeholder="another sample text, Should be unique">
                                <div class="alert alert-dismissable alert-info">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Heads up!</strong>This is the main data, Try to find 2 unique data text from the page and paste it on the boxes below.<br>
                                    Better use this column for title, eg : if you are scrapping a list of `apartments`, then this column is apt for its <strong>`Title`</strong>.<br><br>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">

                                <div class="alert alert-dismissable alert-info">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Tip!</strong>If the values shown after verify is not complete or have some error, Please enter different set of sample data.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">

                                <div class="col-lg-offset-3 col-lg-5">
                                    <button type="button" class="btn btn-lg btn-info verifybtn">Verify <span class="glyphicon glyphicon-refresh"></span></button>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label  class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">
                                <div class="sampleresult" style="display: none">

                                </div>
                                <div class="alert alert-dismissable alert-danger message-box" style="display: none">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <div class="message" >
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--                    </form>-->


<!--                    <div class="col-md-10 col-md-offset-1 columndef" column="2">
                        <h6>Column 2 (Sub data of column 1)</h6>
                        <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Column Name</label>
                            <div class="col-lg-9">
                                <input name="Title" type="text" class="form-control" placeholder="eg : Description, Apartment Price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-lg-3 control-label">Sample Data 1</label>
                            <div class="col-lg-9">
                                <input name="sampledata1" type="text" class="form-control" placeholder="sample text, Should be unique">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-lg-3 control-label">Sample Data 2</label>
                            <div class="col-lg-9">
                                <input name="sampledata2" type="text" class="form-control" placeholder="another sample text, Should be unique">
                                <div class="alert alert-dismissable alert-info">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Heads up!</strong>This columns are for sub data, exampe if column1 is to scrap titles from an apartment list, this column can be used to scrap the description of it or price of apartment.

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">

                                <div class="alert alert-dismissable alert-info">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Tip!</strong>If the values shown after verify is not complete or have some error, Please enter different set of sample data.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">

                                <div class="col-lg-offset-3 col-lg-5">
                                    <button type="button" class="btn btn-lg btn-info verifybtn">Verify <span class="glyphicon glyphicon-refresh"></span></button>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label  class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">
                                <div class="sampleresult" style="display: none">

                                </div>
                                <div class="alert alert-dismissable alert-danger message-box" style="display: none">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <div class="message" >
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>-->
                    {% for i in "23456789" %}
                    <div class="col-md-10 col-md-offset-1 columndef" column="{{i}}">
                        <h6>Column {{i}} (Sub data of column 1)</h6>
                        <!--<form class="form-horizontal" role="form">-->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Column Name</label>
                            <div class="col-lg-9">
                                <input name="Title" type="text" class="form-control" placeholder="eg : Description, Apartment Price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-lg-3 control-label">Sample Data 1</label>
                            <div class="col-lg-9">
                                <input name="sampledata1" type="text" class="form-control" placeholder="sample text, Should be unique">
                            </div>
                        </div>
<!--                        <div class="form-group">
                            <label  class="col-lg-3 control-label">Sample Data 2</label>
                            <div class="col-lg-9">
                                <input name="sampledata2" type="text" class="form-control" placeholder="another sample text, Should be unique">
                                <div class="alert alert-dismissable alert-info">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Heads up!</strong>This columns are for sub data, exampe if column1 is to scrap titles from an apartment list, this column can be used to scrap the description of it or price of apartment.

                                </div>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label  class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">

                                <div class="alert alert-dismissable alert-info">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Tip!</strong>If the values shown after verify is not complete or have some error, Please enter different set of sample data.
                                </div>
                                <div class="alert alert-dismissable alert-danger">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Heads Up!</strong>Sample should be a sub data of the `sample data 1` of Column 1
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">

                                <div class="col-lg-offset-3 col-lg-5">
                                    <button type="button" class="btn btn-lg btn-info verifybtn">Verify <span class="glyphicon glyphicon-refresh"></span></button>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label  class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">
                                <div class="sampleresult" style="display: none">

                                </div>
                                <div class="alert alert-dismissable alert-danger message-box" style="display: none">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <div class="message" >
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div> <!-- /row -->


                <div class="row demo-row">

                    <div class="col-md-10 col-md-offset-1">

                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-5">
                                <button type="button" id="prosceedbtn" class="btn btn-block btn-lg btn-primary">Proceed <span class="glyphicon glyphicon-forward"></span></button>
                            </div>
                        </div>
                        <!--                    </form>-->
                    </div>

                </div> <!-- /row -->
            </form>
        </div> <!-- /container -->
{% include "common/footer.html" %}