{% include "common/header.html" %}
        <div class="container container-main">

            <form method="POST" action="/addNewScrapper" id="addscrapperform1">{% csrf_token %}
                <h3 class="demo-panel-title">Define a Scrapper</h3>
                <h4>Step 1</h4>
                <div class="row demo-row">
                    <div class="col-md-10 col-md-offset-1">
                        <!--<form class="form-horizontal" role="form">-->
                        <div class="form-group {% if urlerror %}has-error{% endif %}">
                            <label for="url" class="col-lg-3 control-label">URL</label>
                            <div class="col-lg-9">
                                <input type="url" name="url" value="{{ url }}" class="form-control " id="url" placeholder="eg : http://www.stackoverflow.com">
                                <span class="help-block error-block">{{ urlerror }}</span>
                            </div>
                        </div>



                        <!--                    </form>-->
                    </div>

                </div> <!-- /row -->

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-5">
                                <button type="submit" onclick="" class="btn btn-block btn-lg btn-primary">Proceed <span class="glyphicon glyphicon-forward"></span></button>
                            </div>
                        </div>  
                    </div>

                </div>


            </form>
        </div> <!-- /container -->
{% include "common/footer.html" %}