{% include "common/header.html" %}
<div class="container container-main">


    <h3 class="demo-panel-title">My Scrappers</h3>

    <div class="row demo-row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-hover scrapperlist">
                <thead>
                <th>#</th>
                <th>Url</th>
                <th>Status</th>
                <!--                        <th>ETA</th>-->
                <th>Links</th>
                </thead>


                <tbody>
                    {% for j in jobs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><input readonly="" class="scrapperurlinp" value="{{ j.scrapper.url }}"></td>
                        <td>{{j.get_status_display}}</td>
                        <td>
                        {% if j.status == "1" %}
				<a target="_blank" class="btn btn-inverse btn-xs btn-outputformatcsv" href="{% url 'jobs' %}{{j.key}}/CSV">CSV</a>
				<a target="_blank" class="btn btn-inverse btn-xs btn-outputformatjson" href="{% url 'jobs' %}{{j.key}}/JSON">JSON</a>
                        {% else %}
				<a target="_blank" class="disabled btn btn-inverse btn-xs btn-outputformatcsv" href="{% url 'jobs' %}{{j.key}}/CSV">CSV</a>
				<a target="_blank" class="disabled btn btn-inverse btn-xs btn-outputformatjson" href="{% url 'jobs' %}{{j.key}}/JSON">JSON</a>
			{% endif %}
			
                        </td>
                    </tr>

                    {% endfor %}
		    {% if not jobs %}
			<tr>
				<td colspan="5"><center>Seems Like you dont have any scrappers, Create your first scrapper <a href="/NewScrapper">here</a></center></td>
			</tr>
		    {% endif %}
                </tbody>
            </table>
        </div>

    </div> <!-- /row -->




</div> <!-- /container -->
{% include "common/footer.html" %}