{% include "common/header.html" %}
<div class="container container-main">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <!--<table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>-->

        <!--<input type="submit" value="login" />-->



        <div class="">
            <div class="login-screen" style="background-color:  #ffffff">
                <div class="login-icon">
                    <!--<img src="images/login/icon.png" alt="Welcome to Mail App" />-->
                    <h4>Welcome to <small>Scrapper.TrrDrr.biz</small></h4>
                </div>

                <div class="login-form">
                    <div class="form-group">
                        <input name="username" type="text" class="form-control login-field" value="" placeholder="Enter your user name" id="login-name" />
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>

                    <div class="form-group">
                        <input name="password" type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" />
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>

                    <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block">
                    
                    <input type="hidden" name="next" value="{{ next }}" />
                    <!--            <a class="login-link" href="#">Lost your password?</a>-->
                </div>
            </div>
        </div>
    </form>
</div>
{% include "common/footer.html" %}