{% include "common/header.html" %}
<div class="container container-main">

    <form method="post">
        {% csrf_token %}
        <div class="">
            <div class="row" style="background-color:  #ffffff">
                <div class="col-md-4">
                    <!--<img src="images/login/icon.png" alt="Welcome to Mail App" />-->
                    <h4>Contact Us</h4>
                    <p>If you want a custom scrapper or regarding any info about this site, shoot us a message!</p>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <input name="subject" type="text" required="" class="form-control login-field" value="" placeholder="Subject" id="login-name" />

                    </div>
                    <div class="form-group">
                        <input name="email" type="email" required="" class="form-control login-field" value="" placeholder="Your email id" id="login-name" />

                    </div>
                    <div class="form-group">
                        <textarea rows="10" name="message" required="" class="form-control login-field" placeholder="Message" id="login-pass" ></textarea>

                    </div>
                    {% if reply %}
                    <div class="form-group">
                        {{reply}}

                    </div>
                    {% endif %}

                    <input type="submit" value="Ok" class="btn btn-primary btn-lg btn-block">
                    <input type="hidden" name="next" value="{{ next }}" />
                    <!--            <a class="login-link" href="#">Lost your password?</a>-->
                </div>
            </div>
        </div>
    </form>
</div>
{% include "common/footer.html" %}