{% include "common/header.html" %}
<div class="container container-main">
    <h2>New User Registration</h2>
    <p>Please enter a user name, password and a valid email.</p>
    {% if form.errors %}
    <p class="errornote">
        {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
    </p>
    {% endif %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post">{% csrf_token %}










                <div class="form-group">                        
                    <input autocomplete="off" name="{{ form.username.name }}" type="text" required="" class="form-control login-field" value="" placeholder="user name" id="{{ form.username.name }}" />
                    <p class="help-block">{{ form.username.errors }}</p>
                </div>
                <div class="form-group">                        
                    <input autocomplete="off" name="{{ form.email.name }}" type="email" required="" class="form-control login-field" value="" placeholder="email" id="{{ form.email.name }}" />
                    <p class="help-block">{{ form.email.errors }}</p>
                </div>
                <div class="form-group">                        
                    <input autocomplete="off" name="{{ form.password1.name }}" type="password" required="" class="form-control login-field" value="" placeholder="password" id="{{ form.password1.name }}" />
                    <p class="help-block">{{ form.password1.errors }}</p>
                </div>
                <div class="form-group">                        
                    <input autocomplete="off" name="{{ form.password2.name }}" type="password" required="" class="form-control login-field" value="" placeholder="password (again)" id="{{ form.password2.name }}" />
                    <p class="help-block">{{ form.password2.errors }}</p>
                </div>



                <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block">

                <a class="btn btn-info btn-lg btn-block" href="/accounts/login/">Existing User, Login</a>

            </form>
        </div>
    </div>
</div>

{% include "common/footer.html" %}