{% include "common/header.html" %}
<div class="container container-main">
    {% if form.errors %}
    <p class="errornote">
        {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
    </p>
    {% endif %}
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post">{% csrf_token %}







                <div class="form-group">                        
                    <input name="old_password" type="password" class="form-control login-field" value="" placeholder="Old Password" id="login-pass" />
                    
                    <p class="help-block">{{ form.old_password.errors }}</p>
                </div>

                <div class="form-group">
                    <input name="new_password1" type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" />
                    
                    <p class="help-block">{{ form.new_password1.errors }}</p>
                </div>
                <div class="form-group">
                    <input name="new_password2" type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" />
                    
                    <p class="help-block">{{ form.new_password2.errors }}</p>
                </div>

                <input type="submit" value="Change my password" class="btn btn-primary btn-lg btn-block">


            </form>
        </div>
    </div>
</div>
<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
{% include "common/footer.html" %}