<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">


            </div> <!-- /col-md-7 -->

            <div class="col-md-5 ">
                <div class="footer-banner">
                    <h3 class="footer-title"><img src="{{ STATIC_URL }}images/logosquarered90.png" alt="5th-generation" height="25px" >IOT </h3>
                    <ul>
                        <li>Trrdrr is a global Web Data Analyzer</li>
                        <li>You can Analyze Single page, paginated pages...</li>
                        <li>It covers basic Data needs.</li>
                    </ul>
                    For Custom Data Analyzers give us a <a href="/accounts/ContactUs/">message</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Load JS here for greater good =============================-->
<script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.ui.touch-punch.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-switch.js"></script>
<script src="{{ STATIC_URL }}js/flatui-checkbox.js"></script>
<script src="{{ STATIC_URL }}js/flatui-radio.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tagsinput.js"></script>
<script src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>
<script src="{{ STATIC_URL }}js/jquery.stacktable.js"></script>
<script src="http://vjs.zencdn.net/4.1/video.js"></script>
<script src="{{ STATIC_URL }}js/application.js"></script>
<script src="/script.js"></script>
<script>
    $('input').change(function(){
        $(this).parents('.has-error').find('.error-block').html('');
        $(this).parents('.has-error').removeClass('has-error');
                
    })
        
    var $slider = $("#ColNoSlider");
    $slider.slider("value",2)

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45743434-1', 'trrdrr-scrapper.rhcloud.com');
  ga('send', 'pageview');

</script>
</body>
</html>
