<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Trr-Drr data analyzer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A Free Web data analyzer, Trrdrr is a global Web data analyzer, It covers basic data needs.">
        <meta name="keywords" content="web data analyzer, screen data analyzer, freelance web data analyzer">
        <meta name="author" content="anoop" >
        <!-- Loading Bootstrap -->
        <!--<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">-->
        <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
        <!-- Loading Flat UI -->
        <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/demo.css" rel="stylesheet">

        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <style>
        .btn,input
        {
            margin-top: 10px
        }
        .control-label
        {
            /*            height: 46px;
                        font-weight: bold;
                        margin-bottom: 0px;
                        vertical-align: middle; */
        }
        .alert
        {
            margin-top: 20px
        }
        .columndef
        {
            border: 1px solid rgb(156, 167, 158);
            background: rgb(219, 219, 219);
            border-radius: 5px;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
        body {
            /*            transform: scale(0.9);
                        -webkit-transform: scale(0.9);
                        -ms-transform: scale(0.9);
                        -moz-transform: scale(0.9);*/
        }
        .has-success label,.has-success input
        {
            color: #34495e !important;
        }
        .sampleresult .list-group
        {
            max-height: 174px;
            overflow-y: scroll;
            overflow-x: hidden;
            margin-top: 20px;
        }
        .container-main
        {
            min-height: 528px;
            margin-top: 68px;
        }
        .data analyzerurlinp {
            border: 0;
            margin: 0;
            width: 100%;
        }
        .iconoutput
        {
            height: 100%
        }
        .btn-outputformatcsv, .btn-outputformatcsv:active,.btn-outputformatjson, .btn-outputformatjson:active
        {

            margin-top: 0px;
            background-image: url('{{ STATIC_URL }}CSV.png');
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 10px;
            padding-left: 33px !important;
        }
        .btn-outputformatjson, .btn-outputformatjson:active
        {
            background-image: url('http://www.json.org/img/json160.gif')!important;
        }

    </style>
    <body>
        <div class="navbar-wrapper">
            <div class="container">

                <div class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}images/logosquarered90.png" alt="5th-generation" height="25px" >IOT</a>
                        </div>
                        <div class="navbar-collapse collapse ">
                            <ul class="nav navbar-nav" >
                                <li ><a href="/NewScrapper">New data analyzer</a></li>
                                <li ><a href="/myScrappers">My data analyzers</a></li>
                                <li><a href="/accounts/ContactUs/">Contact</a></li>
                                <li class="dropdown pull-right">
                                    {% if user.is_authenticated %}
                                    <!-- 					<p>Welcome, {{ user.username }}. Thanks for logging in.</p> -->
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Hello {{ user.username|truncatechars:15 }}<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <!--<li><a href="/accounts/password_change/">Details</a></li>-->
                                        <li><a href="/accounts/password_change/">Change Password</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/accounts/logout/">Logout</a></li>


                                    </ul>
                                    {% else %}
                                    <!--<p>Welcome, new user. Please log in.</p>-->
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Hello Guest<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/accounts/ContactUs/">Request an account </a></li>
                                        <li><a href="/accounts/login/">Login</a></li>
                                    </ul>
                                    {% endif %}

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--<!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="utf-8">
                <title>Trr-Drr data analyzer</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
                <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
                 Loading Bootstrap
                <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">

                 Loading Flat UI
                        <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet">
                        <link href="{{ STATIC_URL }}css/demo.css" rel="stylesheet">

                <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

                 HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.
                [if lt IE 9]>
                  <script src="js/html5shiv.js"></script>
                <![endif]
            </head>
            <style>
                .btn,input
                {
                    margin-top: 10px
                }
                .control-label
                {
                    /*            height: 46px;
                                font-weight: bold;
                                margin-bottom: 0px;
                                vertical-align: middle; */
                }
                .container-main
                {
                    min-height: 528px;
                }
            </style>
            <body>

                <header class="palette palette-midnight-blue">
                    <h1 class="demo-section-title">data analyzer.trrdrr.biz</h1>
                </header>-->
