<div style="padding: 10px; width: 90%;margin: 10px;font-size: 1.3em;color: #FFF; background: #34495e; border-radius: 5px;box-shadow:  3px 4px 8px #2c3e50"><a style="color: #FFF; text-decoration: none; font-weight: bold; font-family: sans-serif "href="http://scrapper.trrdrr.biz/">Scrapper.TrrDrr.Biz</a></div>
<div style="padding: 10px; width: 90%;margin: 10px;font-size: 1em;color: #34495e; border-radius: 5px; border: 1px solid #34495e">
    HI {{user.username}},<br><br>
    Thank you for trying Scrapper.TrrDrr.Biz.<br>
    If you have any issues please reply back to this mail.<br>
    If the data is scrapable using Scrapper.TrrDrr.Biz we will create it <strong>free of cost.</strong><br>
    If you want a custom scrapper with features like login, multiple pages, crawl through the page, corn jobs etc<br>
    Then we can build it for you.
    <hr>
    <strong>Scrapper.TrrDrr.Biz is a product of 5-th Generation.</strong>
</div>


